@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Fahad Alsofyani, I hope that you are doing well.</h1>
    <p>Riyadbank Project <a href="https://docs.microsoft.com/aspnet/core">The course is pretty interesting!!</a>.</p>
</div>
