@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Today is the Thursday December 22</h1>
    <p>Riyadbank Project <a href="https://docs.microsoft.com/aspnet/core">Application Deployment</a>.</p>
</div>
